/* ls - содержимое папок 
cd - change dir
git - LOCAL repository
git add . - all files
git coomt -m "причина сохранения" - "слепок кода"
*/

.block {
    width: 300px;
    height: 300px;
    background-color: antiquewhite;
}